@model IEnumerable<ERPSzakdolgozat.Models.Unit>

@{
	ViewData["Title"] = "Index";
}

<h2>Index</h2>

<form asp-controller="Admin" asp-action="Units" method="get" class="form-inline pos-relative">
	<div class="form-group">
		<div class="well">
			<label class="control-label">
				<strong>Name</strong>
			</label>

			<div class="input-group">
				<input type="text" name="search" class="form-control" value="@(ViewBag.search)" />

				<span class="input-group-btn">
					<button type="submit" class="btn btn-default">
						<i class="glyphicon glyphicon-search"></i>
					</button>
				</span>
			</div>

			<div class="checkbox" style="margin-left:10px">
				<label>
					@Html.CheckBox("active", ViewBag.active, new { onchange = "$(this.form).submit()" }) Active
				</label>
			</div>
		</div>
	</div>

	<button type="button" id="CreateUnit" class="btn btn-success pos-absolute" style="bottom: 10px; right: 0;" data-toggle="modal" data-target="#CreateModal">Add new</button>
</form>

<table class="table">
	<thead class="bg-dark">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.UnitCode)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UnitName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Active)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody class="bg-light">
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.UnitCode)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UnitName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Active)
				</td>

				<td>
					<div class="dropdown">
						<button class="btn btn-primary btn-sm dropdown-toggle pull-right" type="button" data-toggle="dropdown">
							Actions
						</button>
						<ul class="dropdown-menu dropdown-menu-right">
							<li><a href="#" class="edit-record" data-id="@item.Id" data-toggle="modal" data-target="#EditModal">Edit</a></li>
							<li class="divider"></li>
							<li><a asp-action="DeleteUnit" asp-route-id="@item.Id">Delete</a></li>
						</ul>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>

<div class="modal" id="EditModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 id="editTitle" class="modal-title">Edit - </h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label class="control-label">Code</label>
					<input type="text" id="editCode" name="editCode" class="form-control" />
				</div>
				<div class="form-group">
					<label class="control-label">Name</label>
					<input type="text" id="editName" name="editName" class="form-control" />
				</div>
				<div class="form-group">
					<div class="checkbox">
						<label>
							<input id="editActive" name="editActive" type="checkbox" /> <strong>Active</strong>
						</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" id="saveEdit" data-id="" class="btn btn-primary">Save</button>
			</div>
		</div>
	</div>
</div>

<form asp-controller="Admin" asp-action="CreateUnit" method="get">
	<div class="modal" id="CreateModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Add new</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label class="control-label">Code</label>
						<input type="text" id="createCode" name="createCode" class="form-control" />
					</div>
					<div class="form-group">
						<label class="control-label">Name</label>
						<input type="text" id="createName" name="createName" class="form-control" />
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" id="saveCreate" class="btn btn-success">Add</button>
				</div>
			</div>
		</div>
	</div>
</form>

@section Scripts {
	<script src="~/js/admin/units.js"></script>
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
