@model ERPSzakdolgozat.Models.Project

@{
	ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Project</h4>
<hr />
<div class="row">

	<form asp-action="Edit">
		<div class="col-lg-12">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<ul class="nav nav-tabs row">
				<li class="active"><a href="#general" data-toggle="tab" aria-expanded="true">General</a></li>
				<li class=""><a href="#financials" data-toggle="tab" aria-expanded="false">Financials</a></li>
				<li class=""><a href="#resources" data-toggle="tab" aria-expanded="false">Resources</a></li>
				<li class=""><a href="#log" data-toggle="tab" aria-expanded="false">Log</a></li>
			</ul>

			<div id="myTabContent" class="tab-content">
				<!-- General tab -->
				<div class="tab-pane fade active in" id="general">
					<div class="col-lg-10">
						<div class="form-group row">
							<div class="col-lg-6">
								<label asp-for="ProjectName" class="control-label"></label>
								<input asp-for="ProjectName" class="form-control" />
								<span asp-validation-for="ProjectName" class="text-danger"></span>
							</div>
							<div class="col-lg-3">
								<label asp-for="CustomId" class="control-label"></label>
								<input asp-for="CustomId" class="form-control" />
								<span asp-validation-for="CustomId" class="text-danger"></span>
							</div>
							<div class="col-lg-3">
								<label asp-for="ProjectManager" class="control-label"></label>
								<select asp-for="ProjectManager" asp-items="@((SelectList)ViewData["ProjectManagers"])" class="form-control"></select>
								<span asp-validation-for="ProjectManager" class="text-danger"></span>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-4">
								<label asp-for="ClientId" class="control-label"></label>
								<select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
								<span asp-validation-for="ClientId" class="text-danger"></span>
							</div>
							<div class="col-lg-3">
								<label asp-for="Type" class="control-label"></label>
								<select asp-for="Type" asp-items="@((SelectList)ViewData["Types"])" class="form-control"></select>
								<span asp-validation-for="Type" class="text-danger"></span>
							</div>
							<div class="col-lg-3">
								<label asp-for="Status" class="control-label"></label>
								<select asp-for="Status" asp-items="@((SelectList)ViewData["ProjectStatuses"])" class="form-control"></select>
								<span asp-validation-for="Status" class="text-danger"></span>
							</div>
							<div class="col-lg-2">
								<label asp-for="Contract" class="control-label"></label>
								<select asp-for="Contract" asp-items="@((SelectList)ViewData["ContractStatuses"])" class="form-control"></select>
								<span asp-validation-for="Contract" class="text-danger"></span>
							</div>
						</div>

						<div class="form-group row">
							<div class="col-lg-12">
								<label asp-for="Description" class="control-label"></label>
								<textarea asp-for="Description" class="form-control" rows="7"></textarea>
								<span asp-validation-for="Description" class="text-danger"></span>
							</div>
						</div>
					</div>
					<div class="col-lg-2 border-left-soft">
						<div class="form-group">
							<label asp-for="EstimatedEndDate" class="control-label"></label>
							<input asp-for="EstimatedEndDate" class="form-control" />
							<span asp-validation-for="EstimatedEndDate" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="StartDate" class="control-label"></label>
							<input asp-for="StartDate" class="form-control" />
							<span asp-validation-for="StartDate" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="EndDate" class="control-label"></label>
							<input asp-for="EndDate" class="form-control" />
							<span asp-validation-for="EndDate" class="text-danger"></span>
						</div>
					</div>
				</div>

				<!-- Financials tab -->
				<div class="tab-pane fade" id="financials">
					<div class="form-group row">
						<div class="col-lg-3">
							<div class="form-group row border-bottom-soft">
								<h4 class="col-lg-12">Hours</h4>
							</div>

							<div class="form-group row">
								<div class="col-lg-6">
									<label asp-for="HoursDone" class="control-label"></label>
									<input asp-for="HoursDone" class="form-control" readonly />
									<span asp-validation-for="HoursDone" class="text-danger"></span>
								</div>
								<div class="col-lg-6">
									<label asp-for="OvertimeDone" class="control-label"></label>
									<input asp-for="OvertimeDone" class="form-control" readonly />
									<span asp-validation-for="OvertimeDone" class="text-danger"></span>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-lg-6">
									<label asp-for="HoursRemaining" class="control-label"></label>
									<input asp-for="HoursRemaining" class="form-control" readonly />
									<span asp-validation-for="HoursRemaining" class="text-danger"></span>
								</div>
								<div class="col-lg-6">
									<label asp-for="OvertimeRemaining" class="control-label"></label>
									<input asp-for="OvertimeRemaining" class="form-control" readonly />
									<span asp-validation-for="OvertimeRemaining" class="text-danger"></span>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-lg-6">
									<label asp-for="HoursAll" class="control-label"></label>
									<input asp-for="HoursAll" class="form-control" readonly />
									<span asp-validation-for="HoursAll" class="text-danger"></span>
								</div>
								<div class="col-lg-6">
									<label asp-for="OvertimeAll" class="control-label"></label>
									<input asp-for="OvertimeAll" class="form-control" readonly />
									<span asp-validation-for="OvertimeAll" class="text-danger"></span>
								</div>
							</div>
						</div>

						<div class="col-lg-6 border-left-soft">
							<div class="form-group row border-bottom-soft">
								<h4 class="col-lg-6">Costs</h4>
								<h4 class="col-lg-6">Revenues</h4>
							</div>

							<div class="form-group row">
								<div class="col-lg-6">
									<label asp-for="ResourcesCostSpent" class="control-label"></label>
									<input asp-for="ResourcesCostSpent" class="form-control" readonly />
									<span asp-validation-for="ResourcesCostSpent" class="text-danger"></span>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-lg-6">
									<label asp-for="ResourcesCostRemaining" class="control-label"></label>
									<input asp-for="ResourcesCostRemaining" class="form-control" readonly />
									<span asp-validation-for="ResourcesCostRemaining" class="text-danger"></span>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-lg-6">
									<label asp-for="ResourcesCost" class="control-label"></label>
									<input asp-for="ResourcesCost" class="form-control" readonly />
									<span asp-validation-for="ResourcesCost" class="text-danger"></span>
								</div>
								<div class="col-lg-6">
									<label asp-for="ResourcesRevenue" class="control-label"></label>
									<input asp-for="ResourcesRevenue" class="form-control" readonly />
									<span asp-validation-for="ResourcesRevenue" class="text-danger"></span>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-lg-6">
									<label asp-for="RiskCostSpent" class="control-label"></label>
									<input asp-for="RiskCostSpent" class="form-control" readonly />
									<span asp-validation-for="RiskCostSpent" class="text-danger"></span>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-lg-6">
									<label asp-for="RiskCostRemaining" class="control-label"></label>
									<input asp-for="RiskCostRemaining" class="form-control" readonly />
									<span asp-validation-for="RiskCostRemaining" class="text-danger"></span>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-lg-6">
									<label asp-for="RiskCost" class="control-label"></label>
									<input asp-for="RiskCost" class="form-control" readonly />
									<span asp-validation-for="RiskCost" class="text-danger"></span>
								</div>
								<div class="col-lg-6">
									<label asp-for="RiskRevenue" class="control-label"></label>
									<input asp-for="RiskRevenue" class="form-control" readonly />
									<span asp-validation-for="RiskRevenue" class="text-danger"></span>
								</div>
							</div>
						</div>

						<div class="col-lg-3">
							<div class="form-group row border-bottom-soft">
								<h4 class="col-lg-12">Totals</h4>
							</div>

							<div class="form-group row">
								<div class="col-lg-6">
									<label asp-for="CurrencyId" class="control-label"></label>
									<select asp-for="CurrencyId" asp-items="@((SelectList)ViewData["Currencies"])" class="form-control"></select>
									<span asp-validation-for="CurrencyId" class="text-danger"></span>
								</div>
							</div>
							<div class="well well-sm">
								<div class="form-group">
									<label asp-for="ContractValue" class="control-label"></label>
									<input asp-for="ContractValue" class="form-control" type="number" />
									<span asp-validation-for="ContractValue" class="text-danger"></span>
								</div>
								<div class="form-group">
									<label asp-for="TotalCostSpent" class="control-label"></label>
									<input asp-for="TotalCostSpent" class="form-control" readonly />
									<span asp-validation-for="TotalCostSpent" class="text-danger"></span>
								</div>
								<div class="form-group">
									<label asp-for="TotalCostRemaining" class="control-label"></label>
									<input asp-for="TotalCostRemaining" class="form-control" readonly />
									<span asp-validation-for="TotalCostRemaining" class="text-danger"></span>
								</div>
								<div class="form-group">
									<label asp-for="TotalCost" class="control-label"></label>
									<input asp-for="TotalCost" class="form-control" readonly />
									<span asp-validation-for="TotalCost" class="text-danger"></span>
								</div>
								<div class="form-group">
									<label asp-for="TotalRevenue" class="control-label"></label>
									<input asp-for="TotalRevenue" class="form-control" readonly />
									<span asp-validation-for="TotalRevenue" class="text-danger"></span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Resources tab -->
				<div class="tab-pane fade" id="resources">
					<div class="form-group row mb-sm">
						@foreach (ProjectResource res in Model.Resources)
						{
							<div class="col-lg-4">
								<div class="panel panel-default">
									<div class="panel-heading">
										<div class="form-group mb-sm">
											<label class="control-label">Name</label>
											<input asp-for="@res.ResourceName" class="form-control" />
											<span asp-validation-for="@res.ResourceName" class="text-danger"></span>
										</div>
									</div>
									<div class="panel-body row">
										<div class="col-lg-12">
											<label class="control-label">Task</label>
											<input asp-for="@res.Task" class="form-control" />
											<span asp-validation-for="@res.Task" class="text-danger"></span>
										</div>
										<div class="col-lg-12">
											<label class="control-label">ResourceType</label>
											<input asp-for="@res.Task" class="form-control" />
											<!-- TODO select, hogy emp, sub vagy other, és ez alapján szerkeszthető resname -->
										</div>
										<div class="col-lg-6">
											<label class="control-label">HoursDone</label>
											<input asp-for="@res.HoursDone" class="form-control" type="number" />
											<span asp-validation-for="@res.HoursDone" class="text-danger"></span>
										</div>
										<div class="col-lg-6">
											<label class="control-label">OvertimeDone</label>
											<input asp-for="@res.OvertimeDone" class="form-control" type="number" />
											<span asp-validation-for="@res.OvertimeDone" class="text-danger"></span>
										</div>
										<div class="col-lg-6">
											<label class="control-label">HoursRemaining</label>
											<input asp-for="@res.HoursRemaining" class="form-control" type="number" />
											<span asp-validation-for="@res.HoursRemaining" class="text-danger"></span>
										</div>
										<div class="col-lg-6">
											<label class="control-label">OvertimeRemaining</label>
											<input asp-for="@res.OvertimeRemaining" class="form-control" type="number" />
											<span asp-validation-for="@res.OvertimeRemaining" class="text-danger"></span>
										</div>
										<div class="col-lg-12">
											<label class="control-label">Cost</label>
											<input asp-for="@res.Cost" class="form-control" type="number" />
											<span asp-validation-for="@res.Cost" class="text-danger"></span>
										</div>
										<div class="col-lg-12">
											<label class="control-label">Revenue</label>
											<input asp-for="@res.Revenue" class="form-control" type="number" />
											<span asp-validation-for="@res.Revenue" class="text-danger"></span>
										</div>
									</div>
								</div>
							</div>
						}
					</div>

					<button id="addResource" type="button" class="btn btn-success mb-md" data-toggle="modal" data-target="#addResourceModal">
						<i class="glyphicon glyphicon-plus"></i>
					</button>

					<div id="addResourceModal" class="modal">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title">New Resource</h4>
								</div>
								<div class="modal-body">
									<div class="form-group">
										<!-- TODO add fields for new record -->
									</div>
								</div>
								<div class="modal-footer">
									<div class="col-md-8">
										<label class="text-warning">Saving this will reload the page (save your other changes beforehand).</label>
									</div>

									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									<button type="button" id="SaveNewResource" class="btn btn-primary">Save</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Log tab -->
				<div class="tab-pane fade" id="log">
					<div class="form-group row">
						<div class="col-lg-6 col-lg-offset-3">
							<label class="control-label">User</label>
							<select id="logUser" name="logUser" asp-items="@((SelectList)ViewData["LogUsers"])" class="form-control">
								<option value=""></option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-lg-6 col-lg-offset-3">
							<input id="logSearch" name="logSearch" placeholder="Search..." type="text" class="form-control" />
						</div>
					</div>

					<div class="form-group row">
						<div class="col-lg-6 col-lg-offset-3">
							<div id="logList" class="list-group">
								@foreach (ProjectLog log in Model.Logs)
								{
									<div href="#" class="list-group-item">
										<h4 class="list-group-item-heading">
											@(log.CreatedDate) - by <span class="text-primary">@(log.AppUser.DisplayName)</span>
										</h4>
										<p class="list-group-item-text">
											<strong class="text-info">@(log.FieldName)</strong> has been changed: <strong class="text-warning">@(log.OriginalValue)</strong> => <strong class="text-success">@(log.NewValue).</strong>
										</p>
									</div>
								}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="form-group">
			<a asp-action="Index" class="btn btn-default">Back to List</a>

			<input type="submit" value="Save" class="btn btn-primary pull-right" />
		</div>
	</form>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	<script type="text/javascript" src="~/js/project/project_edit.js"></script>
}
