@model IEnumerable<ERPSzakdolgozat.Models.Project>

@{
	ViewData["Title"] = "Projects - List";
}

<h2>Projects</h2>

<div class="col-md-12 margin-bottom-sm pr-sm">
	<a asp-action="Create" class="btn btn-success btn-sm pull-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Create New">
		<i class="glyphicon glyphicon-plus"></i>
	</a>
</div>
<table class="table table-hover">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.ProjectName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Status)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Type)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Contract)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ProjectManager)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.StartDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.EstimatedEndDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.EndDate)
			</th>

			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			string statusLabel = "label label-default";
			string contractLabel = "label label-default";

			switch (item.Status)
			{
				case "Finished":
					statusLabel = "label label-success";
					break;
				case "Executing":
					statusLabel = "label label-warning";
					break;
				case "Starting":
					statusLabel = "label label-primary";
					break;
				case "Failed":
					statusLabel = "label label-danger";
					break;
				default:
					break;
			}
			switch (item.Contract)
			{
				case "Signed":
					contractLabel = "label label-success";
					break;
				case "Rejected":
					contractLabel = "label label-danger";
					break;
				case "Not yet Signed":
					contractLabel = "label label-warning";
					break;
				default:
					break;
			}

		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.ProjectName)
			</td>
			<td>
				<span class="@(statusLabel)">@Html.DisplayFor(modelItem => item.Status)</span>
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Type)
			</td>
			<td>
				<span class="@(contractLabel)">@Html.DisplayFor(modelItem => item.Contract)</span>
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ProjectManager)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.StartDate)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.EstimatedEndDate)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.EndDate)
			</td>

			<td class="col-md-2 text-right text-nowrap">
				<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
					<i class="glyphicon glyphicon-pencil"></i>
				</a>
				<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Details">
					<i class="glyphicon glyphicon-list"></i>
				</a>
				<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="right" title="" data-original-title="Delete">
					<i class="glyphicon glyphicon-remove"></i>
				</a>
			</td>
		</tr>
		}
	</tbody>
</table>
