@model IEnumerable<ERPSzakdolgozat.Models.Currency>

@{
	ViewData["Title"] = "Currencies - List";
}

<h2>Currencies - List</h2>

<div class="col-md-12 margin-bottom-sm">
	<a asp-action="Create" class="btn btn-success pull-right">Create New</a>
</div>

<table class="table table-hover">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.CurrencyName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ExchangeValue)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.InYear)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.CurrencyName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ExchangeValue)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.InYear)
				</td>
				<td class="text-right">
					<div class="dropdown">
						<button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
							Actions
						</button>
						<ul class="dropdown-menu dropdown-menu">
							<li><a asp-action="Edit" asp-route-id="@item.Id">Edit</a></li>
							<li class="divider"></li>
							<li><a asp-action="Delete" asp-route-id="@item.Id">Delete</a></li>
						</ul>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>
