@model ERPSzakdolgozat.Models.AppUser

@{
	ViewData["Title"] = "Self - Edit";
}

<h2>Edit</h2>

<h4>Self</h4>
<hr />
<div class="row">
	<div class="col-md-12">
		<form asp-action="SelfEdit" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<input type="hidden" asp-for="Id" />
			<input type="hidden" asp-for="ADName" />
			<input type="hidden" asp-for="CreatedDate" />
			<input type="hidden" asp-for="ModifiedDate" />
			<input type="hidden" asp-for="ProfilePicture" />

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><strong>@Model.DisplayName</strong> - @Model.ADName</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3 text-center ">
							@if (Model.ProfilePicture != null)
							{
								string imageBase64 = Convert.ToBase64String(Model.ProfilePicture);
								string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
								<img src="@imageSrc" class="img-thumbnail" />
							}
							else
							{
								<img src="~/images/userdefault.png" style="background-color:lightgrey;" />
							}

							<div class="form-group pt-md">
								<input type="file" id="profile" name="profile" accept="image/*" class="inputfile" />
								<label for="profile" class="inputfile">
									<i class="glyphicon glyphicon-picture"></i> Set Picture
									<span class="text-muted"><small>(256x256px)</small></span>
								</label>


								@if (Model.ProfilePicture != null)
								{
									<div>
										<a href="#" class="btn btn-warning btn-sm" onclick="$('#reset-picture-modal').modal()">Reset Picture</a>
									</div>
								}

								<p id="profileError" class="text-danger" hidden>Picture size can only be 256x256px!</p>
							</div>
						</div>

						<div class="col-md-9">
							<div class="form-group">
								<label asp-for="DisplayName" class="control-label"></label>
								<input asp-for="DisplayName" class="form-control" />
								<span asp-validation-for="DisplayName" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Email" class="control-label"></label>
								<input asp-for="Email" class="form-control" type="email" />
								<span asp-validation-for="Email" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Mobile" class="control-label"></label>
								<input asp-for="Mobile" class="form-control" />
								<span asp-validation-for="Mobile" class="text-danger"></span>
							</div>
						</div>
					</div>

					<div class="form-group">
						<input id="save-button" type="submit" value="Save" class="btn btn-primary pull-right" />
					</div>
				</div>
			</div>

			@* modal for picture reset *@
			<div id="reset-picture-modal" class="modal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Are you sure you want to reset Your profile picture?</h4>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<a asp-area="" asp-controller="AppUsers" asp-action="ResetPicture" asp-route-id="@Model.Id" asp-route-viewName="SelfEdit" class="btn btn-warning">Reset</a>
						</div>
					</div>
				</div>
			</div>
		</form>

		<div class="col-md-4 col-md-offset-4">
			<ul class="list-group">
				<li class="list-group-item list-group-item-heading" style="background-color: #eee">
					<strong>Roles</strong>
				</li>

				@foreach (var role in (Dictionary<string, bool>)ViewData["UserRoles"])
				{
					<li class="list-group-item">
						@if (role.Value == true)
						{
							<span class="badge">
								<i class="glyphicon glyphicon-ok"></i>
							</span>
						}

						@role.Key
					</li>
				}
			</ul>
		</div>
	</div>
</div>

@section Scripts {
	<script src="~/js/appuser/appuser_self.js"></script>
}
