@model ERPSzakdolgozat.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JoinedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JoinedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LeavingOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LeavingOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyIdentifier)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyIdentifier)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LeaderId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LeaderId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TeamId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeamId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HomeZIP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HomeZIP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HomeCountry)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HomeCountry)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HomeCity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HomeCity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HomeStreet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HomeStreet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MailZIP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MailZIP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MailCountry)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MailCountry)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MailCity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MailCity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MailStreet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MailStreet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SameAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SameAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
