@model IEnumerable<ERPSzakdolgozat.ViewModels.Employee_Index>
@using System.Security.Claims

@{
	ViewData["Title"] = "Employee - List";
}

<h2>Employees</h2>

<form asp-controller="Employees" asp-action="Index" method="get" class="form-inline pos-relative">
	<div class="col-md-12 margin-bottom-sm">
		<label class="control-label">
			<strong>Name / Company Id.</strong>
		</label>

		<div class="input-group col-sm-5">
			<input type="text" name="search" class="form-control" value="@(ViewData["search"])" />

			<span class="input-group-btn">
				<button type="submit" class="btn btn-primary">
					<i class="glyphicon glyphicon-search"></i>
				</button>
			</span>
		</div>

		<div class="checkbox" style="margin-left:10px">
			<label>
				@Html.CheckBox("active", (bool)ViewData["active"], new { onchange = "$(this.form).submit()" }) Active
			</label>
		</div>

		@if (User.HasClaim(ClaimTypes.Role, "HR"))
		{
			<a asp-action="Create" class="btn btn-success btn-sm pull-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Create New">
				<i class="glyphicon glyphicon-plus"></i>
			</a>
		}
	</div>
</form>

<table class="table table-hover">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.EmployeeName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Address)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Active)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CompanyIdentifier)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.LeaderName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.TeamName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Mobile)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Email)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.EmployeeName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Address)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Active)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CompanyIdentifier)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.LeaderName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.TeamName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Mobile)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Email)
				</td>

				@if (User.HasClaim(ClaimTypes.Role, "HR"))
				{
					<td class="col-md-2 text-right">
						<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
							<i class="glyphicon glyphicon-pencil"></i>
						</a>
						<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Details">
							<i class="glyphicon glyphicon-list"></i>
						</a>
						<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="right" title="" data-original-title="Delete">
							<i class="glyphicon glyphicon-remove"></i>
						</a>
					</td>
				}
			</tr>
		}
	</tbody>
</table>
