@model IEnumerable<ERPSzakdolgozat.Models.Team>

@{
	ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div class="col-md-12 margin-bottom-sm">
	<a asp-action="Create" class="btn btn-success pull-right">Create New</a>
</div>

<table class="table">
	<thead class="bg-dark">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.TeamCode)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.TeamName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Active)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Unit)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody class="bg-light">
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.TeamCode)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.TeamName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Active)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Unit.UnitCode)
				</td>
				<td>
					<div class="dropdown">
						<button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
							Actions
						</button>
						<ul class="dropdown-menu dropdown-menu">
							<li><a asp-action="Edit" asp-route-id="@item.Id">Edit</a></li>
							<li class="divider"></li>
							<li><a asp-action="Delete" asp-route-id="@item.Id">Delete</a></li>
						</ul>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>
