@model IEnumerable<ERPSzakdolgozat.Models.Subcontractor>
@using System.Security.Claims

@{
	ViewData["Title"] = "Subcontractors - List";
}

<h2>Subcontractors</h2>

<div class="col-md-8 col-md-offset-2">
	<form asp-action="Index" class="form-horizontal" method="get">
		<div class="form-group">
			<div class="col-md-5">
				<label class="control-label">Name</label>

				<div class="input-group">
					<input type="text" name="search" class="form-control" value="@(ViewData["search"])" />

					<span class="input-group-btn">
						<button type="submit" class="btn btn-warning">
							<i class="glyphicon glyphicon-search"></i>
						</button>
					</span>
				</div>
			</div>

			<div class="col-sm-2 pt-lg">
				<div class="checkbox" style="margin-left:10px">
					<label>
						@Html.CheckBox("active", (bool)ViewData["active"], new { onchange = "$(this.form).submit()" }) Active
					</label>
				</div>
			</div>

			@if (User.HasClaim(ClaimTypes.Role, "Admin") || User.HasClaim(ClaimTypes.Role, "HR") || User.HasClaim(ClaimTypes.Role, "HRAssisstant"))
			{
				<a asp-action="Create" class="btn btn-success btn-sm pull-right mt-lg" data-toggle="tooltip" data-placement="top" title="" data-original-title="Create New">
					<i class="glyphicon glyphicon-plus"></i>
				</a>
			}
		</div>
	</form>

	<table class="table table-condensed table-hover">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.SubcontractorName)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.IsActive)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.SubcontractorName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.IsActive)
					</td>
					@if (User.HasClaim(ClaimTypes.Role, "Admin") || User.HasClaim(ClaimTypes.Role, "HR") || User.HasClaim(ClaimTypes.Role, "HRAssisstant"))
					{
						<td class="col-md-2 text-right">
							<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
							<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="right" title="" data-original-title="Delete">
								<i class="glyphicon glyphicon-remove"></i>
							</a>
						</td>
					}
				</tr>
			}
		</tbody>
	</table>
</div>
