@model IEnumerable<ERPSzakdolgozat.Models.Unit>

@{
	ViewData["Title"] = "Units - List";
}

<h2>Units</h2>

<div class="col-md-12 margin-bottom-sm pr-sm">
	<a asp-action="Create" class="btn btn-success btn-sm pull-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Create New">
		<i class="glyphicon glyphicon-plus"></i>
	</a>
</div>

<table class="table table-hover">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.UnitCode)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UnitName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Active)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.UnitCode)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UnitName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Active)
				</td>

				<td class="col-md-2 text-right">
					<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
						<i class="glyphicon glyphicon-pencil"></i>
					</a>
					<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="right" title="" data-original-title="Delete">
						<i class="glyphicon glyphicon-remove"></i>
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>
